@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Karla:wght@200;300;400;700&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}

body {
    padding-top: 10rem;
    background: linear-gradient(-45deg,#757F9A, #D7DDE8, #757F9A, #D7DDE8);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/*Effect Title Catégorie*/
.hover-effect {
    font-size: 1.5em;
    transition: font-size 0.3s ease-in-out;
    color: white;
    box-sizing: border-box;
}

.hover-effect:hover {
    font-size: 2em;
}

.card-form img {
    padding: 10px;
}

/*h1 position */
.h1positionH {
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}
.h1positionF {
    position: absolute;
    top: 30%;
    left: 84%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}
.h3positionF {
    position: absolute;
    top: 120%;
    left: 76%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}
.h3positionH {
    position: absolute;
    top: 120%;
    left: 22%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}
/*Couleur texte de la page détail produit*/
.card-text,
.h1positionH,
.h1positionF{
    color: #fff;
    padding: 0.2em 0.5em 0.2em 0.5em;
    backdrop-filter: blur(20px);
}

/*Card qui contient les images et le lien pour accéder aux catégorie femme et homme */
.display-inline {
    display: flex;
}
/*Card AllProduits*/
.pro-card {
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}

.pro-card img {
    width: 100%;
    height: auto;
}

.card-info {
    padding: 20px;
}

.card-info h2 {
    margin-top: 0;
}

.price {
    color: #e44d26;
    font-weight: bold;
}
/*Couleur du Tableau dans le panier*/
table {
    border-color: #222222;
}
/*Card neumorphism*/
.neumorphism-1 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #333536;
}

/*Boutons animer pour ajout panier*/
.button-cart {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    transition: background 0.3s;
}

.button-cart::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
}

.button-cart::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button-cart::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}

.text {
    top: 0
}

.text,.icon {
    transition: top 0.5s;
}

.icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon svg {
    width: 24px;
    height: 24px;
}

.button-cart:hover {
    background: #222;
}

.button-cart:hover .text {
    top: -100%;
}

.button-cart:hover .icon {
    top: 0;
}

.button-cart:hover:before,.button-cart:hover:after {
    opacity: 1;
    visibility: visible;
}

.button-cart:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button-cart:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

/*Bouton animer pour tout les boutons*/
a {
    color: white;
}

.button {
    --width: 100px; /* Ajustez la largeur selon vos besoins */
    --height: 35px; /* Ajustez la hauteur selon vos besoins */
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 12px;
    width: var(--width);
    height: var(--height);
    font-size: 16px; /* Ajustez la taille de la police selon vos besoins */
    display: flex;
    align-items: center; /* Ajout de l'alignement vertical au centre */
    justify-content: center; /* Ajout de l'alignement horizontal au centre */
    padding: 12px 24px;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    background-color: #28282B;
    color: #F5F5F5;
    z-index: 1;
}

.button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #28282B;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button:hover {
    color: #28282B;
    border: 1px solid #e0e0e0;
}

.button:hover:before {
    top: -35%;
    background-color: #e0e0e0;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
    top: -45%;
    background-color: #e0e0e0;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
/*Flash Message*/
.flash-message {
    color: #fff; /* Texte blanc */
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(25px);
    text-align: center;
    padding: 10px;
}

/*Navbar*/
.header {
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(25px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.gucci-title {
    font-family: 'Gucci', sans-serif; /* Utilisez la police de caractères Gucci si disponible, sinon une police similaire */
    font-size: 3rem;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 415px;
    display: flex;
    justify-content: center;
}

.gucci-title:hover {
    color: white;
}
.navbar-css a {
    font-size: 1.15rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

.navbar-css a:hover {
    color: white;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #483C32;
    cursor: pointer;
    display: none;
}

.navbar-css i {
    /*font-size: 25px;*/
}

.navbar-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.product-content {
    margin-bottom: 10rem !important;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 6px;
    padding-top: 100px;
}

.footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 30px;
}
.footer-row .footer-col h4 {
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
}
.footer-col .links {
    margin-top: 20px;
}
.footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
}
.footer-col .links li a {
    text-decoration: none;
    color: black;
}
.footer-col .links li a:hover {
    color: white;
}
.footer-col p {
    margin: 20px 0;
    color: black;
    max-width: 300px;
}
.footer-col form {
    display: flex;
    gap: 5px;
}
.footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6 ;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
}
.footer-col input::placeholder {
    color: #ccc;
}
.footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
}
.footer-col form button:hover {
    background: #cecccc;
}

.footer-col .icons {
    display: flex;
    gap: 30px;
    cursor: pointer;
}
.footer-col .icons i {
    color: black;
}
.footer-col .icons i:hover  {
    color: #fff;
}

@media (max-width: 1400px) {
    .footer {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        border-radius: 0;
    }
}

@media (max-width: 768px) {
    .footer {
        position: relative;
        bottom: 0;
        left: 0;
        transform: none;
        width: 100%;
        border-radius: 0;
    }
    .footer .footer-row {
        padding: 20px;
        gap: 1rem;
    }
    .footer-col form {
        display: block;
    }
    .footer-col form :where(input, button) {
        width: 100%;
    }
    .footer-col form button {
        margin: 10px 0 0 0;
    }
}

/*BREAKPOINTS*/
@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {

    body {
        /*background: #924051 !important;*/
    }

    .gucci-title {
        display: none ;
    }

    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar-css {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(25px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .2s ease;
    }

    #check:checked~.navbar-css {
        height: 18rem;
    }

    .navbar-css a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar-css a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
    .h1positionF {
        position: absolute;
        top: 145%;
    }

}


/* Adaptation pour les écrans de petite taille */
@media (max-width: 768px) {
    .display-inline {
        flex-direction: column; /* Mettez les éléments en colonne sur les écrans plus petits */
    }

    .card-form {
        margin-bottom: 20px; /* Ajoutez un espace entre les cartes */
    }
    .h1positionH,
    .h1positionF,
    .h3positionH,
    .h3positionF {
        position: static; /* Réinitialisez la position pour que les éléments suivent le flux normal du document */
        top: auto;
        left: auto;
        transform: none;
        text-align: center; /* Centrez le texte */
    }

    h3 {
        margin-top: 10px; /* Ajoutez un espace entre l'image et le texte */
    }

}

