{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Supprimer la catégorie: ' ~ categorie.catNom }}
{% endblock %}

{% block body %}
    <h1 style="text-align: center">Supprimer la catégorie</h1>
    <p style="text-align: center">Voulez-vous vraiment supprimer la catégorie "{{ categorie.catNom }}" ?</p>
    <div class="container" style="display: flex; justify-content: center;">
        <form method="post">
            <button class="button" type="submit">Supprimer</button>
        </form>

        <button class="button"> <a style="color: white" href="{{ path('crud_read', {'id': categorie.id})}}">Annuler</a>
        </button>
    </div>
{% endblock %}