{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="col-12">
        <h1 class="hover-effect" style="position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); text-align: center; text-transform: uppercase;">
            <a style="color: white;" href="#">{{categorie.catNom}}</a></h1>
        {% if (categorie.catNom == "Homme")  %}
                <img class="card-img-top" src="/uploads/categories/homme.jpg">
            {% elseif (categorie.catNom == "Femme") %}
                <img class="card-img-top" src="/uploads/categories/femme.jpg">
        {% endif %}

        <div class="d-flex justify-content-center justify-content-around">
                {% for souscategorie in categorie.categories %}
                    <div class="d-flex  justify-content-center neumorphism-1 ">
                        <div class="" style="">
                            <img src="/uploads/categories/{{ souscategorie.catImage }}" style="width: 12em" class="card-img-top" alt="...">
                            <div class="d-flex  justify-content-center">
                                <h5 class="card-title">{{souscategorie.catNom}}</h5>
                            </div>
                            <div class="d-flex justify-content-center">
                                <a style="" href="{{ path('app_produits', { categorie: souscategorie.id})  }}"><button type="button" class="button">Consulter</button></a>
                            </div>
                        </div>
            </div>
                {% endfor %}
        </div>
    </div>




{% endblock %}
