{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="display-inline" >
        <div class="card-form" style="">
                <a style="color: white;"  href="{{ path('all_categories', {'categorie': 'homme'}) }}">
                        <img class="card-img-top card-image rounded" style="backdrop-filter: blur(25px);" src="/uploads/categories/gucciHomme2.jpg">
                        <h1 class="hover-effect h1positionH" style="">Homme</h1>
                        <h3 class="h3positionH" style="">Vêtements pour Homme</h3>
                </a>
        </div>
        <div class="card-form" style="">
                <a style="color: white;" href="{{ path('all_categories', {'categorie': 'homme'}) }}">
                        <img class="card-img-top card-image rounded" style="backdrop-filter: blur(25px);" src="/uploads/categories/GucciFemme2.jpeg">
                <h1 class="hover-effect h1positionF" style="">Femme</h1>
                        <h3 class="h3positionF" style="">Vêtements pour Femme</h3>
                </a>
        </div>
</div>
{% endblock %}
